@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.flex-container {
  display: flex;
}

.form-container {
  flex-grow: 9;
  padding: 20px;
}

.separator {
  max-width: 1px;
  background-color: #e0e4e7;
  float: left;
  flex-grow: 2;
}

.separator label {
  background: white;
  position: relative;
  top: 48%;
  left: -8px;
  color: #464f55;
  font-size: 14px;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.input-container svg {
  padding: 10px;
  background: #e9ecee;
  color: #464f55;
  min-width: 15px;
  text-align: center;
  border: 1px solid #e0e4e7;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #e0e4e7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.input-checkbox[disabled] {
  background: #e9ecee;
}

.input-button {
  background: #007ef7;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 18px;
  border-radius: 10px;
}

.input-button:hover {
  opacity: 80%;
  cursor: pointer;
}

.lost-password {
  margin-left: 15px;
}
